*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.header{*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.header{
   background-image:url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    width: 100%;
    height:100vh;top:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    position:static;
}

.head{display:flex;
flex-direction: column;
justify-content: center;
align-items: left;
    padding-left: 220px;
    padding-bottom: 200px;
width: 100%;
height: 100vh;}

.orange{color: rgb(255, 165, 0);
    text-shadow:3px 3px 5px #524f50;
}

#tite {
    color:black;
    font-family:monospace;
    font-weight: bolder;
    font-size: 70px;
    text-shadow:3px 3px 5px #6d696a;}

.para1{
    color:rgba(131, 100, 60, 0.97) ;
    font-weight: 800;
    font-size: 20px;}

.flex-container{background-color:transparent;width:100%;
height:40vh;
margin-top: 90px;padding-left: 250px}

.fleex{
display: inline-flex;
    padding: 10px;
background-color: aliceblue;
height:70%;margin: 10px;
width:30%;flex-direction:row;}

.fleex:hover{box-shadow: 0 0 20px rgba(0,0,40,10.17);
background-color: azure;}

#ppara9{padding-top: 50px;
left:0;margin-left: -134px;padding-left: px;
font-size: 27px;
line-height: 45px}

.record{text-align:justify;margin-left: 0px;
font-size: 30px;color: darkblue;}

.para9{padding-top: 50px;
left:0;margin-left: -84px;padding-left: px;
font-size: 27px;
line-height: 45px}

#paraa9{padding-top: 50px;
left:0;margin-left: -56px;padding-left: px;
font-size: 27px;
line-height: 45px}



.foot1 {
     background-image:url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
min-height:50px;
min-width: 100%;
margin-top: 20%
}

.box8 {
    color:white;
display:flex;
flex-direction: row;
padding:50px;
    padding-left: 300px;
flex-basis: 0.25;
justify-content: space-between;
}
.span1,.span2,.span3{display: flex;
flex-direction: column;
flex-basis:50%;line-height: 40px;
justify-content: space-around;color:darkblue;
    font-size: 25px;padding: 20px;
    line-height: 60px
}
#conme {
    font-family: monospace;
    font-size: 20px;
    padding-bottom:8px;
    margin: 0;padding-top: 5px;
    bottom: 0;padding-left: 190px;
    text-align:center;
    width:100%;font-family:Yesteryear;
    background-color: aliceblue;
    position: fixed;
}
#confe {
    padding: 0px;font-family: sans-serif;
    padding-top:60px;padding-left: 10px;
    text-align: center;font-size: 18px;text-shadow:3px 2px 6px #8e8889; 
    text-decoration: none;
    }
#confe:hover{color:red;text-decoration: underline;}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d1eff4;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #0d0d0d;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #3086dd;
}


.active {
  background-color: #53f7de;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #a7eae5;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-bar {
  position: fixed;
  top: 50%;padding: 200px;
  -webkit-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-29%);}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;}
.icon-bar a:hover {
  background-color: #000;}
.facebook {
  background: #3B5998;
  color: white;}
.twitter {
  background: #55ACEE;
  color: white;}
.google {
  background: #dd4b39;
  color: white;}
.linkedin {
  background: #007bb5;
  color: white;}
.youtube {
  background: #bb0000;
  color: white;}
   background-image:url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    position: fixed;
}

.head{display:flex;
flex-direction: column;
justify-content: center;
align-items: left;
    padding-left: 220px;
    padding-bottom: 200px;
width: 100%;
height: 100vh;}

.orange{color: rgb(255, 165, 0);
    text-shadow:3px 3px 5px #524f50;
}

#tite {
    color:black;
    font-family:monospace;
    font-weight: bolder;
    font-size: 70px;
    text-shadow:3px 3px 5px #6d696a;}

.para1{
    color:rgba(131, 100, 60, 0.97) ;
    font-weight: 800;
    font-size: 20px;}










#conme {
    font-family: monospace;
    font-size: 20px;
    padding-top:0px;
    margin: 0;
    bottom: 0;
    text-align:center;
    width:100%;
    overflow: hidden;
    background-color: aliceblue;
    position: fixed;
    line-height: 0px;}
#confe {
    padding: 0px;
    padding-top:;
    margin: px px;
    text-align: center;
    text-decoration: none;
    }



.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d1eff4;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #0d0d0d;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}


.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #4b4747;
  padding-left: 8px;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;}
.icon-bar a:hover {
  background-color: #000;}
.facebook {
  background: #3B5998;
  color: white;}
.twitter {
  background: #55ACEE;
  color: white;}
.google {
  background: #dd4b39;
  color: white;}
.linkedin {
  background: #007bb5;
  color: white;}
.youtube {
  background: #bb0000;
  color: white;}
